.bg-bluez {
    background-color: #2a2c2a;
    background-image: linear-gradient( #202020, #0e1722);
}

.bg-grenz {
    background-color: #194b27;
}

.bg-putih {
    background-color: #e9e9e9;
}

@font-face {
    font-family: 'PoppinsBold';
    src: url(/EduQuest/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url(/EduQuest/font/Poppins-Medium.ttf);
}

.pb {
    font-family: 'PoppinsBold', sans-serif;
    color:#f3f2f2;
}

.pm {
    font-family: 'PoppinsMedium', sans-serif;
    color: #f3f2f2;
}

.tp {
    color: white;
}

/* biar menu dropdown rata kiri */
.navbar-nav {
    align-items: flex-start !important;
}

/* hapus margin kiri berlebih biar enggak ke kanan */
.navbar-nav .nav-item {
    margin-left: 0 !important;
}

/* tombol dropdown di mode mobile biar rata kiri juga */
.navbar .btn {
    text-align: left;
    /* width: 100%; */
    justify-content: flex-start;
}

/* hilangin padding tambahan dari container nav collapse */
.navbar-collapse {
    padding-left: 0rem;
}

.tgh {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbrar {
    height: 10px;
    background-color: #102015;
}